{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "quotes": [ 1, "single" ],
    "no-undef": 1,
    "global-strict": 0,
    "no-extra-semi": 1,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "no-unreachable": 1,
    "no-alert": 0
  },
  "globals": {
      "google": true,
      "FB": true,
      "goog": true,
      "Wix": true,
      "If": true,
      "For": true,
      "Else": true,
      "define": true,
      "uniqueId": true,
      "describe": false,
      "it":false,
      "beforeEach":false,
      "afterEach":false,
      "__DEV__":true
  },
}
